.co2{
    background: darkslategray;
    min-height: 120vh;
}

.chart-container{
    min-height: 300px;
    background-color: gray;
    margin: 5px 10%;
    border: 2px solid red;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
}

.description-co2{
    background: gray;
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    margin: 5px 10%;
    padding: 15px;
}

.description-co2 p{
    font-size: 14px;
}