.methane{
    min-height: 120vh;
    background-color: darkslategray;
}

.methane-chart{
    min-height: 300px;
    background-color: mistyrose;
    margin: 5px 10%;
    border: 2px solid blue;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
}

.description-methane{
    background-color: mistyrose;
    color: darkslategray;
    margin: 5px 10%;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 15px;
}